{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
            <div class="container">
                <div class="row g-1">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card p-3">
                
                   <img class="w-full max-h-32 object-cover" src="{{ asset('test/' ~ product.imageProduct) }}" width="200">
                
                    <div class="text-center">
                   {# {{ dump(product.imageProduct) }} #}

                    </div>
                         <span class="font-weight-bold d-block">Price: {{ product.priceProduct }} VND</span>
                         <span>Name: {{ product.nameProduct }}</span>
                         <div class="buttons d-flex flex-row">
                               <a href="{{ path('order_add', {'id': product.id}) }}" class='btn btn-success'>Add to cart</a>
                        </div>
                         <div class="weight">
                            <small>Price: {{ product.priceProduct }}</small>
                            <small>Store: {{ product.quantityProduct }}</small>     
                         </div>

                    </div>                 
                </div>
            {% endfor %}
                </div>                          
            </div>              
    </div>
{% endblock %}
